<div class="jumbotron text-center">
  <div class="overlay">
  </div>
  <div class="background-image">
  </div>
  <div class="caption">
    <h1>Mongo Scraper</h1>
    <p>New York Times Edition</p>
  </div>
</div>

<div class="container-fluid article-container">
  <div data-_id="" class="card">
    <div class="card-header">
      <h3>
        <a class="article-link" target="_blank" rel="noopener noreferrer" href="https://www.nytimes.com/2020/01/18/us/politics/impeachment-susan-collins.html">Impeachment Trial Puts Susan Collins, Stung by Kavanaugh Backlash, Under ScrutinyHouse Democrats released more material from a Rudy Giuliani associate on the Ukraine campaign.</a>
        <a class="btn btn-success save">Save Article</a>
      </h3>
    </div>
    <div class="card-body"></div>
  </div>
    <div data-_id="" class="card">
    <div class="card-header">
      <h3>
        <a class="article-link" target="_blank" rel="noopener noreferrer" href="https://www.nytimes.com/2020/01/18/world/middleeast/libya-war-hifter-russia.html">As Libya Descends Into Chaos, Foreign Powers Look for a Way OutEurope is finally paying attention to the conflict in Libya.</a>
        <a class="btn btn-success save">Save Article</a>
      </h3>
    </div>
    <div class="card-body"></div>
  </div>
    <div data-_id="" class="card">
    <div class="card-header">
      <h3>
        <a class="article-link" target="_blank" rel="noopener noreferrer" href="https://www.nytimes.com/2020/01/18/us/politics/pete-buttigieg-political-experience.html">Would a 37-Year-Old Woman Be Where Pete Buttigieg Is?</a>
        <a class="btn btn-success save">Save Article</a>
      </h3>
    </div>
    <div class="card-body"></div>
  </div>
    <div data-_id="" class="card">
    <div class="card-header">
      <h3>
        <a class="article-link" target="_blank" rel="noopener noreferrer" href="https://www.nytimes.com/2020/01/18/us/politics/guantanamo-bay-mystery-death.html">Sex, Power and Fury: The Mystery of a Death at Guantánamo Bay</a>
        <a class="btn btn-success save">Save Article</a>
      </h3>
    </div>
    <div class="card-body"></div>
  </div>
    <div data-_id="" class="card">
    <div class="card-header">
      <h3>
        <a class="article-link" target="_blank" rel="noopener noreferrer" href="https://www.nytimes.com/2020/01/17/us/politics/women-voters-2020.html">Why Electing a Female President Is Secondary for Some WomenWould a 37-Year-Old Woman Be Where Pete Buttigieg Is?Here’s what to know about the fourth Women’s March, planned today in cities across the U.S.</a>
        <a class="btn btn-success save">Save Article</a>
      </h3>
    </div>
    <div class="card-body"></div>
  </div>
    <div data-_id="" class="card">
    <div class="card-header">
      <h3>
        <a class="article-link" target="_blank" rel="noopener noreferrer" href="https://www.nytimes.com/2020/01/17/us/politics/ken-starr-impeachment-trump-clinton.html">Starr Returns to the Impeachment Fray, This Time for the DefenseHouse Democrats released more material from a Rudy Giuliani associate on the Ukraine campaign.</a>
        <a class="btn btn-success save">Save Article</a>
      </h3>
    </div>
    <div class="card-body"></div>
  </div>
</div>

